<?xml version="1.0"?>

<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true">

    <testsuites>
        <testsuite name="Selenium functional tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
