<?xml version="1.0"?>

<phpunit
    bootstrap="vendor/autoload.php"
    colors="true">

    <php>
        <const name="BROWSER" value="firefox"/>
        <const name="BROWSER_URL" value="http://www.example.com/"/>
        <const name="SCREENSHOTS_DIR" value="build/"/>
    </php>

    <testsuites>
        <testsuite name="AllTests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="PHPUnit_Extensions_Selenium2TestCase_ScreenshotListener">
            <arguments>
                <string>build/</string>
            </arguments>
        </listener>
    </listeners>

</phpunit>
